@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo,
h2 {
  font-family: 'Grand Hotel',
    cursive;
}

a {
  color: black !important;
}

/* Home Screen Styles */
.home-card {
  max-width: 500px;
  height: max-content;
  margin: auto;
}

.home {
  margin-top: 60px;
}

/* Auth Screens [signin,signup] Styles */

.auth {
  margin: 60px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input:focus {
  border-bottom: 1px solid #ff6f00 !important;
  box-shadow: 0 1px 0 0 #ff6f00 !important;
}

.input {
  margin-top: 15px !important;
}

.auth-card-submit-button {
  margin-top: 20px;
}

.auth-navigate-link {
  margin-top: 10px !important;
}

/* Profile Page Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: 30%;
}